.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 5px #777;
  text-align: center;
}

.Success {
  color: #5C9210;
}

.Danger {
  color: #944317;
}

.Button:disabled {
  cursor: not-allowed;
  box-shadow: 1px 1px 2px #aaa;
}